<div class="footer">
	<div class="container">
		<div class="col-sm-12 col-md-6 col-lg-6 links">
		 <ul>
			<li class="{{ item.buttonclass }}" ng-repeat="item in trnh.menu"><a ng-href="{{ trnh.basepath }}{{ item.link }}">{{ item.name }}</a></li>
			<li><a ng-href="{{ trnh.basepath }}amazon-sellers/">Amazon Sellers</a></li>
		 </ul>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6 copyright-txt"><p>Copyright @ 2016 TRN. All rights reserved. <a ng-href="{{ trnh.basepath }}terms">Terms of Use</a> / <a ng-href="{{ trnh.basepath }}privacy">Privacy Policy</a>.</p></div>
	</div>
</div>