body { background-color: #ededed; position: relative !important; top: 0 !important; padding-top: 90px; height: auto !important; font-family: "myriad-pro", sans-serif; }
html { background-color: #efefef; margin-top: 0 !important; }
md-divider { margin: 10px 0 20px; }
.md-button { max-height: 46px !important; }
md-input-container .md-input[disabled] { opacity: 0.85; color: rgba(0, 0, 0, 0.5); }
.md-card-image-padding { width: 50%; margin: 50px auto; }
body:not(.custom-background-image):before, body:not(.custom-background-image):after { height: 0px !important; }
.error_box { display: inline-block; padding: 15px; color: #FFF; background-color: #F44336; width: 100%; text-align: center; font-size: 16px; border-radius: 3px; }
span.button-loading { font-size: 20px; }
.container { max-width: 1400px; }
.mobile-menu { display: none; }
a { transition: all 200ms ease-in 0s; -moz-transition: all 200ms ease-in 0s; -webkit-transition: all 200ms ease-in 0s; -o-transition: all 200ms ease-in 0s; }
.extra-padding { padding: 12px; }

/** header **/
.logo { height: 90px; line-height: 95px; }
.header-top { height: 90px; position: fixed; top: 0; width: 100%; z-index: 99; background-color: rgba(35, 47, 62, 1); }
ul.header-menu { display: inline-block; float: right; margin: 0; padding: 0; height: 90x; line-height: 90px; }
li.header-menu-item { display: inline-block; padding: 0 20px; font-size: 18px; text-transform: uppercase; font-weight: 100; }

/*li.header-menu-item:after { content: "/"; color: #FFF; position: relative; left: 17px; font-weight: 100; }
li.header-menu-item:last-child:after { content: ""; }*/
li.header-menu-item a { color: #ccc; font-weight: 600; }
li.header-menu-item a:hover { text-decoration: none; color: #fff; }
.header-menu li.join-now { padding-left: 0; }
.header-menu li.join-now a { border: 1px solid #febd69; padding: 10px 25px; color: #febd69; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.header-menu li.join-now a:hover { background: #febd69; color: #232f3e; }
.header-menu li.login a { border: 1px solid #ccc; padding: 10px 25px; color: #ccc; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.header-menu li.login a:hover { background: #ccc; color: #232f3e; }


.header-menu-dropdown {

}
.menu-dropdown-content {

	position: absolute;
    right: 0;
    background-color: rgba(35, 47, 62, 1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	display: none;
	margin-right: 20px;
}
.menu-dropdown-content li a {
	line-height: 40px;
	font-size: 16px;
}


.header-menu-dropdown:hover .menu-dropdown-content {
	list-style: none;
    display: block;
}
.header-menu-dropdown:hover .menu-dropdown-content a {
	padding-left:10px;
}

/** dialog **/
.result-message { display: inline-block; background-color: #ccc; padding: 20px; width: 100%; text-align: center; border-radius: 4px; }
.result-message.success { background-color: #C8E6C9; }
.result-message.error { background-color: #EF9A9A; }

/** seller **/
.product-image-container { background-color: #FFF; border-radius: 4px; text-align: center; padding: 30px; }
.product-image-container .material-icons { font-size: 150px; }
.no-margin { margin: 0 !important; }
md-calendar > table, md-calendar > .md-calendar-scroll-mask { width: auto !important; }

/** hero banner **/
.hero-banner { background: url('/wp-content/themes/TRN/templates/img/hero-banner.jpg'); height: 754px; margin-top: -90px; background-size: cover; color: #fff; }
.hero-banner .container { position: relative; padding: 90px 0 0; }
.hero-banner .intro-text { padding-top: 68px; }
.hero-banner .intro-text h1 { text-align: center; font-size: 46px; font-weight: 600; line-height: 1; }
.hero-banner .intro-text h1 span { font-size: 28px; float: left; width: 100%; }
.hero-banner .intro-text .video-intro { float: left; width: 100%; margin: 50px 0 20px; text-align: center; }
.hero-banner .intro-text .video-intro a {/*background: url("/wp-content/themes/TRN/templates/img/video-bg.jpg") no-repeat;*/ width: 463px; height: 266px; display: inline-block; border: 5px solid rgba(255, 255, 255, 0.2); position: relative; outline: none; }
.hero-banner .intro-text .video-intro a:hover { background-color: rgba(0, 0, 0, 0.5); }
.hero-banner .intro-text .video-intro a .play-btn { position: absolute; right: 20px; top: 17px; font-size: 41px; color: #ccc; display: none; }
.hero-banner .intro-text .video-intro a .play-btn:hover { color: #444; }
.hero-banner .intro-text .video-intro .watch-video-txt { position: absolute; right: -110px; top: -10px; color: #fff; text-align: left; line-height: 1.2; font-weight: 600; }
.hero-banner .intro-text .video-intro .watch-video-txt span { background: url("/wp-content/themes/TRN/templates/img/arrow.png") no-repeat; width: 72px; height: 23px; position: absolute; right: 8px; top: 42px; }
.hero-banner .intro-text .steps { text-align: center; margin: 0 auto; max-width: 800px; }
.hero-banner .intro-text .steps p { font-size: 16px; font-weight: 600; text-transform: uppercase; margin: 15px 0 0; }
.hero-banner .intro-text .step1 { }
.hero-banner .intro-text .step1:after { }
.hero-banner .intro-text .steps .dots { background: url('/wp-content/themes/TRN/templates/img/dots.png') no-repeat; width: 26px; height: 8px; position: absolute; right: -17px; top: 40px; }
.hero-banner .get-started { height: 100%; background-color: rgba(255, 255, 255, 0.3); padding: 70px; height: 667px; margin-top: -2px; }
.hero-banner .get-started h1 { font-size: 38px; text-align: center; text-transform: uppercase; }
.hero-banner .get-started p { text-align: center; }
.hero-banner .get-started label { float: left; width: 100%; margin: 10px 0 2px; }
.hero-banner .get-started input { border: none; font-size: 1.4em; }
.hero-banner .get-started input#num1 { width: 28%; text-align: center; }
.hero-banner .get-started input#num2 { width: 29%; text-align: center; }
.hero-banner .get-started input#num3 { width: 40%; text-align: center; }
.hero-banner .get-started a.btn { background: #febd69; color: #232f3e; text-transform: uppercase; font-size: 21px; width: 100%; letter-spacing: 3px; font-weight: 600; height: 60px; line-height: 60px; padding: 0; margin: 10px 0 25px; outline: none; }
.hero-banner .get-started a:hover.btn { background: #232f3e; color: #fff; }
.hero-banner .get-started .fa-lock { color: #febd69; }
.hero-banner .get-started hr { border: none; height: 2px; background: rgba(255, 255, 255, 0.3); margin: 50px 0 40px; }
.hero-banner .get-started .testimonial { text-align: center; }
.hero-banner .get-started .testimonial .fa { font-size: 31px; width: 100%; padding: 12px 0; }
.hero-banner .get-started .testimonial .fa-quote-left { text-align: left; }
.hero-banner .get-started .testimonial .fa-quote-right { text-align: right; }

/** product grid **/
.product-grid { padding: 50px 0; }
.product-grid .container { }
.product-grid h2 { text-align: center; font-size: 31px; text-transform: uppercase; color: #898989; margin-bottom: 60px; }
ul.product-list { }
ul.product-list li { list-style: none; margin-bottom: 30px; padding: 0 5px; }
ul.product-list li .inner { background: #fff; border: 3px solid #fff; transition: all 200ms ease-in 0s; -moz-transition: all 200ms ease-in 0s; -webkit-transition: all 200ms ease-in 0s; -o-transition: all 200ms ease-in 0s; position: relative; }
ul.product-list li .inner:hover { border: 3px solid #d1d1d1; }
ul.product-list li .img { width: 100%; text-align: center; padding: 80px 0 20px; }
ul.product-list li .img a img { max-height: 198px; height: 198px; }
ul.product-list li .title { text-align: center; border-top: 1px solid #e8e8e8; padding: 15px 0; }
ul.product-list li .title a { font-size: 16px; font-weight: 600; color: #232f3e; }
ul.product-list li .save { border: 2px solid #febd69; text-align: center; color: #000; font-size: 21px; width: 82px; height: 82px; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; line-height: 82px; font-weight: 600; padding-top: 22px; line-height: 19px; position: absolute; right: 15px; top: 15px; }
ul.product-list li .save span { }
ul.product-list li .price { position: absolute; left: 30px; top: 15px; }
ul.product-list li .price .was { font-size: 16px; font-weight: 600; color: #a4a4a4; margin-bottom: -7px; }
ul.product-list li .price .now { font-size: 16px; font-weight: 600; color: #da3336; }
.filtering-options input { font-size: 1em; padding: 0 0.825em; min-width: 300px; border: 1px solid #ddd; height: 45px; line-height: 45px; }
.filtering-options { background-color: #f9f9f9; text-align: center; padding: 40px 20px; border-bottom: 1px solid #CCC; }
.filtering-options .btn { background-color: #febd69; text-transform: uppercase; margin: 0; padding: 0 25px; height: 45px; line-height: 45px; vertical-align: top; border-radius: 0; margin-left: -5px; -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.filtering-options .btn:hover { background-color: #232F3E; color: #FFF; }
.Welcome { background-color: #F1F8E9; border-bottom: 1px solid #8BC34A; }
.Welcome .message { padding: 20px 60px; }
md-card-title-text { overflow: hidden; height: 70px; }

/** about us **/
.about-us { background: #fff; padding: 80px 0; }
.about-us .container { }
.about-us p { font-size: 15px; color: #555; }
.about-us .brand-logo { text-align: center; margin-top: 35px; }
.about-us .content { border-left: 1px solid #ddd; padding-left: 50px; }

/** footer **/
.footer { background: #232f3e; padding: 30px 0; color: #fff; }
.absolute-bottom { background: #232f3e; padding: 30px 0; color: #fff; position: absolute; width: 100%; bottom: 0; }
.footer .container { }
.footer .links { opacity: .8; }
.footer .links ul { margin: 0; }
.footer .links ul li { display: inline-block; list-style: none; margin: 0 5px; }
.footer .links a { color: #fff; margin: 0 5px; }
.footer .links a:hover { text-decoration: underline; }
.footer .copyright-txt { text-align: right; }
.footer .copyright-txt p { opacity: .6; }
.footer .copyright-txt p a { color: #fff; opacity: 1; }
.footer .copyright-txt a:hover { text-decoration: underline; }

/** general **/
.orange-btn { background: #febd69 none repeat scroll 0 0; color: #232f3e; font-size: 21px; font-weight: 600; height: 60px; letter-spacing: 3px; line-height: 60px; margin: 10px 0 25px; outline: medium none; padding: 0; text-transform: uppercase; width: 100%; max-height: 60px !important; letter-spacing: 1px; }
.orange-btn:hover { background-color: #eee !important; }
.orange-btn-small { background: #febd69 none repeat scroll 0 0; color: #232f3e; font-size: 15px; font-weight: 600; height: 40px; letter-spacing: 3px; line-height: 40px; margin: 7px 0 15px; outline: medium none; padding: 0; text-transform: uppercase; width: 100%; max-height: 40px !important; letter-spacing: 1px; }
.orange-btn-small:hover { background-color: #eee !important; }
.gray-btn-small { background: #BBB none repeat scroll 0 0; color: #232f3e; font-size: 15px; font-weight: 600; height: 40px; letter-spacing: 3px; line-height: 40px; margin: 7px 0 15px; outline: medium none; padding: 0; text-transform: uppercase; width: 100%; max-height: 40px !important; letter-spacing: 1px; }
.gray-btn-small:hover { background-color: #eee !important; }
#LoginForm, #SellerSignup, #BuyerSignup { margin: 60px 0; }
#SellerSignup { margin: 0; }
#SellerSignup md-card { padding: 40px; }
#SellerSignup md-card md-card-title { padding-top: 0; }
#LoginForm md-card, #ForgotPassword md-card { padding: 40px 40px 20px; }
#LoginForm md-card md-card-title { padding-top: 0; }
#LoginForm md-card-title { text-align: left; text-transform: uppercase; }
.forgot-password { width: auto; text-align: center; max-width: 150px; }
h1, h2 { margin-top: 15px !important; }
.error-message { width: 100%; text-align: center; height: 60px; line-height: 60px; background-color: #F44336; margin: 10px 0 0; border-radius: 5px; text-transform: uppercase; font-size: 16px; }
.instructions { margin-bottom: 40px; }
input.general-input { background-color: #f5f5f5; width: 100%; border-radius: 3px; border: 1px solid #f5f5f5; padding: 15px 20px; font-size: 1.1em; margin: 5px 0; }
input.general-input:focus { background-color: #FFF; }

/** seller products **/
ul.list-products { margin: 0; }
ul.list-products li { list-style: none; float: left; width: 100%; background: #fff; margin-bottom: 10px; padding: 20px 10px; box-shadow: 0 0 2px #ccc; }
ul.list-products li a { }
ul.list-products li a:hover { }
ul.list-products  .product-price { text-align: left; }
ul.list-products li .old-price { float: none; font-size: 31px; letter-spacing: -1px; color: #ccc; text-decoration: line-through; margin-right: 10px; font-weight: 600; padding-right: 0; margin-right: 0; }
ul.list-products li .new-price { float: none; font-size: 31px; letter-spacing: -1px; color: #000; font-weight: 600; }
ul.list-products li .count { float: left; width: 100%; }
ul.list-products li .count span { font-weight: 600; margin-right: 2px; }
ul.list-products li .time-remaining { float: left; width: 100%; }
ul.list-products li .time-remaining span { font-weight: 600; margin-right: 2px; }
ul.list-products .edit-product { text-align: right; width: 50%; }
ul.list-products .edit-product a { margin: 0; max-width: 200px; font-size: 15px; height: 40px; line-height: 40px; position: relative; bottom: 0px; letter-spacing: 0; font-weight: 400; }
form .add-product { background: #fff; }
form .edit-product { background: #fff; }
form .edit-product .orange-btn { width: auto; padding: 0 30px; font-size: 15px; max-height: 40px !important; line-height: 40px; letter-spacing: 0; margin-left: 10px; }
form .add-product { background: #fff; }
form .add-product .orange-btn { width: auto; padding: 0 30px; font-size: 15px; max-height: 40px !important; line-height: 40px; letter-spacing: 0; margin-left: 10px; }
ul.buyer-products { width: 100%; margin: 0; }
ul.buyer-products li { list-style: none; height: 500px; margin-bottom: 20px; }
ul.buyer-products li md-card { max-width: 100%; width: 100%; box-shadow: none; margin: 0; }
ul.buyer-products li md-card img { max-width: 500px; max-height: 300px; height: auto; width: auto; }
ul.buyer-products .img { width: 100%; text-align: center; background: #fff; padding:10px; }
ul.buyer-products .img img { height: 240px; }
ul.buyer-products .md-headline { text-align: center; font-weight: 600; font-size: 14px; line-height: 19px; }
ul.buyer-products .price { text-align: center; }
ul.buyer-products .price .regular { font-size: 15px; color: #999; }
ul.buyer-products .price .regular span { font-size: 16px; }
ul.buyer-products .price .current { font-size: 26px; color: #333; font-weight: bold; letter-spacing: -1px; display: inline-block; float: left; margin: 0 5px 0 0; width: 100%; }
ul.buyer-products .price .discount { font-size: 19px; color: #008a00; font-weight: 600; }
ul.buyer-products .orange-btn { font-size: 15px; max-height: 45px !important; line-height: 45px; letter-spacing: 0; }
ul.buyer-products md-card md-card-title { padding: 16px; height: 75px; overflow: hidden; }
.product-info { }
.product-info h3 { }
.product-info h3 span { font-size: 13px; color: #999; float: left; width: 100%; }
.dialog-product-info { }
.dialog-product-info .price { margin: 0 0 30px; }
.dialog-product-info .price .regular { font-size: 19px; margin-bottom: 10px; color: #999; }
.dialog-product-info .price .current { font-size: 31px; color: #333; font-weight: bold; letter-spacing: -1px; display: inline-block; float: left; margin: 8px 5px 0 0; }
.dialog-product-info .price .discount { font-size: 19px; color: #fff; font-weight: 600; background: #008a00; display: inline-block; padding: 8px 15px 10px; margin: 0 10px; }
.dialog-product-info .orange-btn { font-size: 15px; max-height: 45px !important; line-height: 45px; letter-spacing: 0; width: auto; padding: 0 30px; float: left; margin: 0 10px 0 0; }
.dialog-product-info .view-amazon-btn { font-size: 15px; max-height: 45px !important; line-height: 45px; letter-spacing: 0; width: auto; padding: 0 30px; float: left; margin: 0 10px 0 0; background: #eee; font-weight: 600; }
md-dialog md-dialog-actions { border-top: 1px solid #eee !important; }
md-dialog .md-dialog-content { display: inline-block; }
md-dialog .result-message { margin-top: 20px; font-weight: 600; }
.product-active { font-size: 16px; text-transform: uppercase; border: 2px solid #eee; border-radius: 4px; text-align: center; letter-spacing: 3px; padding: 6px !important; top: -4px; position: relative; }
.product-active.active { border-color: #388E3C; color: #388E3C; font-weight: bold; width: 50%; background: #388E3C; color: #fff; height: 40px; line-height: 36px; padding: 0 !important; margin-top: 0px; letter-spacing: 0; }
.product-active.inactive { border-color: #D32F2F; color: #D32F2F; font-weight: bold; width: 50%; margin-top: 0px; letter-spacing: 0; }
h1 { margin-bottom: 5px !important; }
h3 { margin-bottom: 5px; }
blockquote { background: #fafafa; padding: 25px; text-align: center; margin: 30px 0; font-size: 22px; line-height: 1.2; }
blockquote::before { content: ""; }
blockquote::after { content: ""; position: absolute; right: 0; }
.search-box { background: #fafafa; padding: 40px 0; box-shadow: 0 0 2px #ccc; margin-bottom: 20px; }
.search-box form { text-align: center; }
.create-account input { margin-bottom: 7px; }
.create-account::-webkit-input-placeholder { color: #bbb; }
.create-account:-moz-placeholder { /* Firefox 18- */
color: #bbb; }
.create-account::-moz-placeholder {  /* Firefox 19+ */
color: #bbb; }
.create-account:-ms-input-placeholder { color: #bbb; }
.mailing-list { padding: 0 15px; }
.contact-form { padding: 0 15px; }
.contact-form input { background: none !important; }
.contact-form .orange-btn { width: auto; font-size: 19px; padding: 0 30px; height: 40px; line-height: 40px; }
md-input-container > md-select { margin-top: 0; padding-bottom: 0; }
md-input-container > md-select > md-select-label { width: 100%; }
md-input-container > md-radio-group { padding: 24px 2px 0; }
md-input-container > md-radio-group > md-radio-button { margin: 8px 5px 0; display: inline-block; }

/* password reset page*/
.password-reset-page { background-color: rgba(35, 47, 62, 1); color: #FFF; height: 100vh; margin-top: -90px; }
.password-reset-form { max-width: 400px; margin: 20px; }
.reset-message { background-color: #F1F8E9; border-radius: 3px; padding: 15px; margin: 10px 0; color: #33691E; }
.reset-message.error { background-color: #F44336; color: #FFF; }

.single-row label {
	display: block;
	min-width: 400px;
}
