<!-- load display header template via angular -->
<div template-panel ver="Header"></div>
<div class="ui container">
	<div layout="row">
		<h1>FAQs</h1>
	</div>
	
	<p>Expectations of a Trust Review Network Member:
		<ul>
			<li>TRN Members get a promotional code from TRN to order the products at deeply discounted prices on Amazon.com.</li>
			<li>TRN Members are expected to leave their reviews AFTER they have received the products and within 14 days of their order.</li>
			<li>Members are expected to use the product prior to publishing their honest reviews.</li>
			<li>All TRN shoppers must include the sentence "This product was received at a discounted price in exchange for my honest review." At, or towards the end of their reviews of products received through the Trust Review Network.</li>
			<li>Failure to adhere to these expectations may result in the suspension of your account.</li>
		</ul>
	</p>
	
	<h3>How do I get these deals?</h3>
	<p>Sign up for TRN with your name and email address. You also need to verify your account with a mobile phone.  This phone verification is to prevent fraudulent accounts. To grab a deal, simply click the "I WANT IT" button on the product page, and checkout on Amazon.com using the promo code provided.   We recommend ordering one product at a time when using promo because some codes may conflict with other codes. When the product arrives, try it out and leave your honest review on Amazon.com within 14 days of ordering it. That's it!</p>
	<h3>I don’t have a cell phone. Can I still sign up?</h3>
	<p>TRN is currently only open to people with an active cell phone.  The cell phones signup is used to prevent fraudulent accounts from being set up.</p>
	<h3>How do I find my Amazon Profile Link?</h3>
	<p>Make sure you have logged into your Amazon account. Go to amazon.com/profile. Then copy the link in your address bar. Paste your link in your TRN Profile where it asks for your “User ID/User Profile”</p>
	
	<h3>How many products can I get at one time?</h3>
	<p>When you first sign up, you may take one deal at a time.  After you have ordered and left reviews for 5 deals, your account gets upgraded and you may order 5 deals at a time.  After you qualify for 5 products at a time, you may only have 4 un-reviewed products at any time. As you review a product, another spot will open.</p>
	<h3>How long do I have to leave a product review?</h3>
	<p>We ask that you publish your product review within 2 weeks after ordering your deal.  The earlier the better, but it has to be AFTER you have received the product.  The product companies need your honest feedback - this is why they are willing to give away their products at deeply discounted prices. Shoppers who do not leave reviews will not be eligible for additional promos.</p>
	<h3>How does shipping work?</h3>
	<p>Though not required, we do highly recommend that you get Amazon PRIME.  Reviewers will get great deals on the products, but the shipping fees will be your responsibility.  By having Amazon PRIME, you get Free Shipping on most of your orders, as well as many other great benefits.</p>
	<h3>I can’t give the item a good review, what should I do?</h3>
	<p>We expect you to leave your honest reviews, and sometimes the products can arrive damaged or just don’t work out for you. That’s ok, but please contact the seller first though Amazon.com to see if they can resolve the issue and make you a satisfied customer.</p>
	<h3>My review was rejected /is not showing. What does that mean?</h3>
	<p>In order to leave a product review, you must have an active amazon account with at least one full price purchase on a product on Amazon prior to your purchase on TRN.  A review might also be rejected if it does not meet Amazon.com's standards and requirements. Remember to always include the mandatory review disclaimer mentioned above.</p>
	<h3>My code doesn’t Work.  What to do?</h3>
	<p>If your code does not work or if there is a pricing discrepancy or an error message at checkout, please contact our customer service team right away so that we can assist you and resolve the issue.</p>
	<h3>Can I buy more than one item with each code?</h3>
	<p>Each coupon code is valid for the purchase of one (1) item.  Your coupon code only works one time and is not sharable.  Our product companies are generously providing their products at steep discounts, and we ask our members to be respectful of that.  If we find out that you are using multiple accounts to purchase multiple items, your account may be suspended.</p>
	<h3>How do I write a product review?  What format should my review be?</h3>
	<p>Write at four or more sentences about what you like about the product and how you use it.  A good approach is to list the pros and cons of the product and whether or not you would recommend it to a friend.  Here are a couple of examples to see the layout:<br>
		<hr>
		<b>Title:</b> Great Product.  I Love It! <br>
		<b>Review:</b> I received the stainless steel thermos coffee mug a few days ago and loved  it the very first time I used it.   It looks good, is super sturdy and will last a very long time.   It keeps my coffee hot all the way to work and with the spill proof lid, I don’t have to worry about spills while driving or walking.  Easy to clean and also fits well in the cup holder of my car.  I received this product in exchange for my honest review and I am so glad I did.  I have already ordered another one for my dad and one for my uncle.
		<hr>
		<b>Title:</b> 5 Stars<br>
		<b>Review:</b> I read an article about the great benefits of Matcah green tea and ordered this organic Matcha tea.  There were directions on the package and the first time I made a tea with milk and sugar.   It was delicious. I have also used it in my morning smoothies and love the extra energy and concentration booth I get from it.<br>
		PROS: Delicious and can be used in many things like lattes, baking and smoothies
		Great Health benefits including increased energy, and focus
		Dr. Oz says it helps burn fat<br>
		CONS: A little pricy when compared to regular tea
		The zip lock bag it came in did not seal well after some tea got in the zipper so I transfereed to an airtight mason jar.<br><br>
		Overall, I am enjoying it and will continue to order this Matcah tea.  I received this product in exchange for my honest review and I am definitely a huge fan now. Thanks!
	</p>
<blockquote>Remember that you must mention somewhere towards the end of your review that you received the product for a discounted price in exchange for an honest review.</blockquote>
<h3>May I resell the product I purchased?</h3>
<p>TRN members may not resell products purchased through our site. If you decide you do not want to keep a product you ordered, you may return it to Amazon within 30 days for a refund.  Members who resell or try to resell products ordered through the TRN site will have their TRN accounts suspended.</p>
<h3>One Account Per Household</h3>
<p>Amazon may not allow reviews when there are multiple accounts in a household. Because of this TRN only allows one account per household. If we find that there are duplicate accounts within one household, it may result in suspension of all related accounts.</p>
<h3>How long does it take for my review to be confirmed by TRN before I can get another deal?</h3>
<p>It can take up to 24 hours for our system to register your review once it has been approved by Amazon. Please note that our system will only find reviews left on the Amazon Reviewer Profile you linked your Amazon Profile ID with Trust Review Network.  To get it confirmed faster, log into your TRN  account and submit the Product Review Permalink.  Contact us if it has been more than 24 hours since your review was submitted and include the Review Permalink when contacting us.</p>
<h3>What membership level do I need to earn to be eligible for premier deals?</h3>
<p>Some premium products require shoppers to have a higher membership level to receive a promotional code. Level upgrades can be obtained by completing a certain number of reviews, linking social media accounts, or leaving picture and video reviews.</p>
<h3>Does TRN work in other countries aside the USA?</h3>
<p>TRN is currently only available in the USA. We expect to add more countries soon.</p>
<h3>Do merchants have access to my information on TRN?</h3>
<p>TRN does not share any or your personal information with our product companies.   They only have access to any information you provide within your Amazon order.</p>
<h3>What happens if I can't review a product within two weeks?</h3>
<p>We understand that life happens and that some products take longer to arrive or to notice results from the product. Just leave your product review on Amazon when you can after you have tried the product.  You may not be able to get more deals until after you have left your review for previously ordered products though.</p>
<h3>I received a warning for leaving a review within 24 hours of ordering the product. Why?</h3>
<p>Our system automatically detects reviews that are being left too soon (before the product is delivered). With Next Day shipping, we understand this may not apply to all warnings. You may also receive a warning if you already purchased and reviewed the same product.</p>
<h3>I don’t want to be a member anymore. How do I stop getting your emails?</h3>
<p>Simply use the unsubscribe link at the bottom of any email offer we send you to stop getting emails.</p>
<h3>I don’t live in the USA. Can I join?</h3>
<p>TRN is currently only available for member in the USA with Amazon accounts. We plan on expanding internationally soon</p>
<h3>How often will I get offers from the trust review network?</h3>
<p>You can expect to get between 2 and 6 offers a week.  You may also log onto TRN anytime to see what offers are being offered</p>
<h3>Does every TRN member get the same product offers?</h3>
<p>By logging onto the website, you can view current offers that are open to all members.  Email offers are sent in in batches to groups of members because we usually have limited amounts of units available at these discounted prices.  Premium products are also offered to higher level members – members who have ordered and reviewed a certain number of deals, and members who have linked social media accounts to TRN.</p>
<h3>What do I do if change my email address or mobile phone number?</h3>
<p>Log into your TRN account and change your contact information in you account.  You may also contact our support staff by using the “Help” icon at the bottom of our website.</p>
<h3>Do you sell or rent my information to any other companies?</h3>
<p>No. We never share, sell, rent or give your contact details to any of our clients or any third party.</p>
<h3>Do I have to accept everything that you send me?</h3>
<p>No. If you don’t want a particular item that you have been offered you simply ignore the offer another one will come in your mailbox soon again.</p>
<h3>Do I need to write that I received the product in exchange for my review?</h3>
<p>Yes.  Amazon requires that you to disclose that you received a the  product at a discount in exchange for an honest, unbiased review. TRN is also 100% compliant with Amazon’s Terms of Service and we require the disclosure at the end of your review.  Do not put it in the title and do not put it in the beginning of your review.</p>
<h3>I sell on Amazon and want to work with you to get reviews for my products. What should I do?</h3>
<p>Welcome to TRN!  Register for a Seller Account. I f you have any questions prior to registering, please <a href="/Contact/">Contact Us</a> and they will be answered expeditiously.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
<div template-panel ver="footer"></div>