<!-- load display header template via angular -->
<div template-panel ver="Header"></div>
<!-- homepage content -->
<div ng-controller="LoginController as trnl">
	<div class="hero-banner">
		<div class="container">
			<div class="col-sm-12 col-md-7 col-lg-8 intro-text">
				<h1>GET AMAZING PRODUCTS FROM<span>50% - 100% OFF IN EXCHANGE FOR AN HONEST REVIEW</span></h1>
				<div class="video-intro">
					<a href="#">
						<video poster="%%TEMPLATE_Directory%%/templates/img/video-bg.jpg" controls="controls">
							<source src="%%TEMPLATE_Directory%%/templates/videos/trn.mp4" type="video/mp4">
							<source src="%%TEMPLATE_Directory%%/templates/videos/trn.webm" type="video/webm">
							<source src="%%TEMPLATE_Directory%%/templates/videos/trn.ogg" type="video/ogg">
						</video>
						
						<div class="play-btn"><i class="fa fa-play-circle-o"></i></div>
						<div class="watch-video-txt">Watch video <br>to learn more <span class="arrow"></span></div>
					</a>
				</div>
				<div class="steps">
					<div class="col-sm-12 col-md-4 col-lg-4 step1 animated">
						<img src="%%TEMPLATE_Directory%%/templates/img/step1.png" />
						<p>1. Choose a product</p>
						<div class="dots"></div>
					</div>
					<div class="col-sm-12 col-md-4 col-lg-4 step2">
						<img src="%%TEMPLATE_Directory%%/templates/img/step2.png" />
						<p>2. Place your review</p>
						<div class="dots"></div>
					</div>
					<div class="col-sm-12 col-md-4 col-lg-4 step3">
						<img src="%%TEMPLATE_Directory%%/templates/img/step3.png" />
						<p>3. Keep the product</p>
					</div>
				</div>
			</div>
			<form name="SignUp" class="col-sm-12 col-md-5 col-lg-4 get-started {{ trnl.JoinClass }}">
				<!-- step1 - verify phone -->
				<div class="verify-phone" ng-show="!trnl.PhoneSent">
					<h1>Join For Free</h1>
					<p>Receive deeply discounted products, <br>for your honest review.</p>
					<label>* Phone Number:</label>
					<input ng-model="trnl.Phone1" name="Phone1" ng-pattern="/[\d{3}]/g" type="text" id="num1" size="3" maxlength="3" required ng-disabled="trnl.PhoneSent">
					<input ng-model="trnl.Phone2" name="Phone2" ng-pattern="/[\d{3}]/g" type="text" id="num2" size="3" maxlength="3" required ng-disabled="trnl.PhoneSent">
					<input ng-model="trnl.Phone3" name="Phone3" ng-pattern="/[\d{4}]/g" type="text" id="num3" size="4" maxlength="4" required ng-disabled="trnl.PhoneSent">
					<div class="error-message" ng-if="trnl.PhoneError">
						{{ trnl.PhoneError }}
					</div>
					<a ng-click="trnl.SendVerification(trnl.Phone)" ng-disabled="trnl.PhoneSent" class="btn">
						<span ng-if="!trnl.PhoneSentLoading">Get Started</span>
						<span ng-if="trnl.PhoneSentLoading" class="button-loading"><i class="fa fa-spinner fa-spin"></i></span>
					</a>
				</div>
				<!-- step2 - verify code -->
				<div class="verify-code" ng-show="trnl.PhoneSent && !trnl.CodeVerified">
					<h1>Verify Code</h1>
					<p>Please enter the verification code you received. If you do not receive a verification code within the next few minutes please contact us at </p>
					<input required name="Code" ng-model="trnl.Code" ng-disabled="trnl.CodeVerified" type="text">
					<div class="error-message" ng-if="trnl.CodeVerifiedError">
						You must enter a valid code to continue.
					</div>
					<a ng-click="trnl.ConfirmVerification()" ng-disabled="trnl.CodeVerified" class="btn">
						<span ng-if="!trnl.CodeVerifiedLoading">Confirm</span>
						<span ng-if="trnl.CodeVerifiedLoading" class="button-loading"><i class="fa fa-spinner fa-spin"></i></span>
					</a>
				</div>
				<!-- step3 - create account -->
				<div class="create-account" ng-show="trnl.PhoneSent && trnl.CodeVerified && !trnl.CreateAccountError">
					<h1>Create Account</h1>
					<p>Your phone number has been verified.  You can now create and account to see all the deals.</p>
					<!--<label>Username</label>-->
					<input type="text" name="Username" ng-model="trnl.account.Username" required  placeholder="Username">
					<!--<label>Email</label>-->
					<input type="text" name="Email" ng-model="trnl.account.Email" required ng-pattern="/\S+@\S+\.\S+/" placeholder="Email">
					<!--<label>Amazon ID</label>-->
					<!--<input type="text" name="Username" ng-model="trnl.account.AmazonID" required  placeholder="Amazon ID">-->
					<!--<label>Password</label>-->
					<input name="Password" type="password" required ng-model="trnl.account.Password" placeholder="Password">
					<!--<label>Re-enter Password</label>-->
					<input name="RePassword" type="password" required ng-model="trnl.account.RePassword" placeholder="Re-enter Password">
					<a ng-if="trnl.PhoneSent && trnl.CodeVerified" ng-click="trnl.CreateBuyerAccount();" class="btn">
						<span ng-if="!trnl.CreateAccountLoading">Confirm</span>
						<span ng-if="trnl.CreateAccountLoading" class="button-loading"><i class="fa fa-spinner fa-spin"></i></span>
					</a>
				</div>
				<!-- step4 - Account Error -->
				<div class="create-account" ng-show="trnl.CreateAccountError">
					<h1>Create Account Error</h1>
					<p>There was an error creating your account. Please contact us at care@trustreveiwnetwork.com to resolve this issue.</p>
				</div>
				<p><i class="fa fa-lock"></i> We never share your info with anyone, our promise.</p>
				<hr>
				<div class="testimonial" ng-show="!trnl.PhoneSent && !trnl.PhoneError"><i class="fa fa-quote-left"></i> I got over 80% reviews for my product and shot to number 2 in my category on Amazon.<br> Thank you Trust Review Network!<i class="fa fa-quote-right"></i></div>
			</form>
		</div>
	</div>
	<div class="product-grid">
		<div class="container">
			<h2>SELECT FROM PRODUCTS LIKE THESE BELOW...</h2>
			<ul class="product-list" layout="row" layout-wrap>
				<li flex="100" flex-sm="50" flex-md="33" flex-gt-md="25" ng-repeat="product in trnl.frontpageproducts">
					<div class="inner">
						
						<div class="price">
							<div class="was">was <span><strike>{{ product.price | currency }}</strike></span></div>
							<div class="now">now <span>{{ product.sale | currency }}</span></div>
						</div>
						
						<div class="save">SAVE<br><span>{{ trnl.calcPercent(product); }}%</span></div>
						<div class="img"><a href="#"><img ng-src="%%TEMPLATE_Directory%%{{ product.img }}" /></a></div>
						<div class="title"><a href="#">{{ product.name }}</a></div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="about-us">
		<div class="container">
			
			<div class="col-sm-12 col-md-4 col-lg-4 brand-logo">
				<img src="%%TEMPLATE_Directory%%/templates/img/about-logo.png" />
			</div>
			
			<div class="col-sm-12 col-md-8 col-lg-8 content">
				<p>Trust Review Network (TRN) is a Private Deals Website that brings our members premium products at SUBSTANTIAL DISCOUNTS of at least 50% OFF and sometimes for free in exchange for their honest product reviews.   We connect shoppers and brand owners to bring shoppers great deals on new and existing products on major websites such as Amazon.com, and in exchange, the brand owners get product reviews and feedback.  We ask that you leave an honest review after you have received and tried out the product</p>
				<p>Join Trust Review Network today. Promote your brand to a new market, and try new and innovative products.  products you never would have imagined.</p>
				<p>There is no charge to join Trust Review Network, just fill out a simple form and start receiving deals in your inbox today.</p>
			</div>
		</div>
	</div>
</div>
<div template-panel ver="footer"></div>