<div ng-controller="LoginController as trnl" layout="column" layout-align="center center" class="password-reset-page">
	<div template-panel ver="TRN-logo"></div>
	<p>Enter a new Password</p>
	<form class="password-reset-form" ng-submit="trnl.ResetPassword();">
		<input name="Password" class="general-input" required type="password" ng-model="trnl.reset.Password" placeholder="Password">
		<p>Hint: The password should be at least twelve characters long. To make it stronger, use upper and lower case letters, numbers, and symbols like ! " ? $ % ^ & ).</p>
		<md-button class="orange-btn" type="submit">Reset Password</md-button>
	</form>
</div>